<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBIMTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IBIMTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IBIMTool.Properties.Settings>
            <setting name="SerialNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="IsActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveDocumentTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="MinSideSizeInMm" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MinDepthSizeInMm" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CutOffsetInMm" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OpeningUId" serializeAs="String">
                <value />
            </setting>
            <setting name="WidthValParam" serializeAs="String">
                <value />
            </setting>
            <setting name="HightValParam" serializeAs="String">
                <value />
            </setting>
            <setting name="ElevateOfBaseParam" serializeAs="String">
                <value />
            </setting>
            <setting name="LevelElevationParam" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectSectionParam" serializeAs="String">
                <value />
            </setting>
        </IBIMTool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IBIMTool.Properties.Settings>
            <setting name="DataConnectionString" serializeAs="String">
                <value />
            </setting>
        </IBIMTool.Properties.Settings>
    </applicationSettings>
</configuration>